{{answer.author}}'s answer
<br>
{{answer.content}}
<br>
<button class="waves-effect waves-light btn red" {{ action 'delete' answer }}>Delete</button>
<button class="waves-effect waves-light btn green" {{ action 'addToFavorite' answer }}>Add to Favorite</button>
