
<h5>{{fullInfo}}</h5>
<br>
{{answer.content}}
<br><br>
<div class="fixed-action-btn horizontal" style="top: 100px; right: 50px;">
  <button class="btn-floating btn-large red" {{ action 'delete' answer }}><i class="large material-icons">delete</i></button>
  {{#link-to 'index'}}<button class="btn-floating btn-large" {{ action 'addToFavorite' answer }}>Fav</button>{{/link-to}}
</div>
