
{{#each favoriteList.favorites as |favorite|}}
  <ul class="collapsible popout" data-collapsible="accordion">
    <li>
      <div class="collapsible-header">
        <div class="chip">
          {{favorite.author}}
        </div>
      </div>
      <div class="collapsible-body">
        <p>{{favorite.content}}</p>
      </div>
    </li>
  </ul>
{{/each}}
