<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">Q and A</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li>{{#link-to 'index'}}Home{{/link-to}}</li>
    </ul>
  </div>
</nav>
{{outlet}}

{{!-- ember-cli-materialize modal container --}}
{{md-modal-container}}
