<h4>Welcome to Q and A</h4>

Ask question and get answers!!!

<ul>
  {{#each model as |question|}}
    <h5>{{#link-to 'question' question.id}}{{question.title}}<br>{{question.author}}{{/link-to}}</h5>
  {{/each}}
</ul>


{{new-question saveQuestion="saveQuestion"}}
