<h4>Welcome to Q and A</h4>

<h5>Ask question and get answers!!!</h5>

<div class="row">
  <div class= "col s6">
    <h5>Questions</h5>
    <ul>
      {{#each model.questions as |question|}}
        {{question-tile question=question}}
      {{/each}}
    </ul>
    <button data-target="modal1" class="btn modal-trigger">Add new Question</button>
  </div>
  <div class="col s6">
    <h5>Favorite Answers</h5>
    {{display-favorite}}
  </div>

  <div id="modal1" class="modal bottom-sheet">
    <div class="modal-content">
      <h4>New Question</h4>
      {{new-question saveQuestion="saveQuestion"}}
    </div>
 </div>
</div>
