<h4>Welcome to Q and A</h4>

Ask question and get answers!!!
<h5>Questions</h5>
<ul>
  {{#each model.questions as |question|}}
    {{question-tile question=question}}
  {{/each}}
</ul>
{{new-question saveQuestion="saveQuestion"}}
